.category {
    @include section_top;

    &__card {
        background: #F6F6F6;
        margin-bottom: 16px;

        &-title {
            @include card_title;
          
        }

        &-img {width: 100%;
        object-fit: cover;}
    }


}